@import '../../assets/css/variables.css';

.header {
  position: relative;
  width: 100%;
  padding: 1em 0 4em 0;
  background-color: #E84D5B;
  background-image: linear-gradient(-20deg,#BE404B,#D34653);
}

@media (--small) {

  .header {
    padding: 1em 0 3em 0;
  }

}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (--small) {

  .inner {
    display: block;
  }

}

.link {
  width: 50%;
}

@media (--small) {

  .link {
    width: 100%;
  }

}

.nav {
  width: 50%;
  text-align: right;
}

.nav ul {
  margin: 0;
  padding: 0;
}

@media (--small) {

  .nav {
    width: 100%;
    text-align: center;
  }

}

.nav li {
  display: inline-block;
  padding: 0 1em;
  vertical-align: middle;
}

@media (--small) {

  .nav li {
    padding: 1em;
  }

}

.round {
  border-radius: 50%;
  border: 4px solid var(--colorQuaternary);
  transition: all .1s linear;
}

@media (--small) {

  .round {
    margin: 0 auto;
  }

}

.link:hover .round,
.link:focus .round {
  border-color: var(--colorTertiary);
}

.wave1,
.wave2,
.wave3 {
  background: url(../../assets/img/wave.svg) repeat-x;
  position: absolute;
  bottom: -24px;
  left: 0;
  right: 0;
  width: 200%;
  height: 42px;
  animation: wave 10s cubic-bezier(0.3, 0.45, 0.6, 0.5) infinite;
}

.wave2 {
  opacity: .3;
  left: -24px;
  bottom: -20px;
  animation: wave 15s cubic-bezier(0.3, 0.45, 0.6, 0.5) infinite;
}

.wave3 {
  opacity: .6;
  left: -12px;
  bottom: -28px;
  animation: wave-reverse 20s cubic-bezier(0.3, 0.45, 0.6, 0.5) infinite;
}

@keyframes wave {

  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 240px;
  }

}

@keyframes wave-reverse {

  0% {
    background-position-x: 240px;
  }

  100% {
    background-position-x: 0;
  }

}
