@import './variables.css';

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin: .8em 0 .2em 0;
  font-weight: 600;
  line-height: 1.2;
}

@media (max-width: 767px) {

  .content h1 {
    font-size: calc(18px + 6 * ((100vw - 320px) / 680));
  }

}

@media (min-width: 768px) {

  .content h1 {
    font-size: calc(68px + 6 * ((100vw - 320px) / 680));
  }

}

.pinline {
  font-family: var(--heading);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
}

.pinline span {
  display: block;
  line-height: 1;
  font-size: calc(48px + 6 * ((100vw - 320px) / 680));
}

@media (max-width: 768px) {

  .pinline span {
    font-size: calc(28px + 6 * ((100vw - 320px) / 680));
  }

}

@media (max-width: 520px) {

  .pinline span {
    font-size: calc(24px + 6 * ((100vw - 320px) / 680));
  }

}

.pinline__svg {
  display: inline-block;
  vertical-align: bottom;
}

.pinline__svg--bottom {
  vertical-align: top;
}

.wave {
  animation: moveTheWave 2400ms linear infinite;
  stroke-dasharray: 0 16 101 16;
}

@media (max-width: 767px) {

  .content h2 {
    font-size: calc(17px + 6 * ((100vw - 320px) / 680));
    font-weight: 600;
  }

}

@media (min-width: 768px) {

  .content h2 {
    font-size: calc(32px + 6 * ((100vw - 320px) / 680));
  }

}

@media (max-width: 767px) {

  .content h3 {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }

}

@media (min-width: 768px) {

  .content h3 {
    font-size: calc(22px + 6 * ((100vw - 320px) / 680));
  }

}

.content pre {
  margin: .4em 0;
}

.content ol,
.content ul {
  margin: 0 0 1em 0;
  padding: 0 0 0 1.5em;
}

.content ul li {
  list-style-type: disc;
}

.content ol li {
  list-style-type: decimal;
}

.content p {
  margin: 0 0 .75em 0;
}

.content blockquote {
  margin: 1.5em 0;
  padding: 0 1em;
  border-left: 3px solid var(--colorSecondary);
}

.content blockquote p {
  margin: 0;
}

.content hr {
  width: 100%;
  height: 2px;
  margin-bottom: .4em;
  display: block;
  clear: both;
  border: 0;
  background: var(--colorTertiary);
}
