:root {

  --wrapperWidth: 1600px;

  --colorPrimary: #3001FF; /* Blue */
  --colorSecondary: #FFF; /* White */
  --colorTertiary: #AF01FF; /* Purple */

  --heading: 'Hind', Arial, sans-serif;
  --body: 'Inconsolata', Arial, sans-serif;

  --small: (max-width: 767px);
  --medium: (max-width: 1023px);
  --large: (min-width: 768px);

}


