:root {

  --wrapperWidth: 1600px;

  --colorPrimary: #c92d1f; /* Red */
  --colorSecondary: #eae1d3; /* White*/
  --colorTertiary: #80a89b; /* Green*/
  --colorQuaternary: #1c1818; /* Black */
  /*--colorQuinary: #A537FD;  Purple */

  --heading: 'Hind', Arial, sans-serif;
  --body: 'Inconsolata', Arial, sans-serif;

  --small: (max-width: 767px);
  --medium: (max-width: 1023px);
  --large: (min-width: 768px);

}


