@import './variables.css';

@font-face {
    font-family: 'Oswald';
    src: url('../../assets/fonts/oswald-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/oswald-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  padding: 10px;
  color: var(--colorWhite);
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: responsive 16px 21px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

.align-central {
  text-align: center;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

audio {
	display: none;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

::selection {
  background: var(--colorSecondary);
  opacity: 1;
}

.page {
  height: 100%;
  min-height: calc(100vh - 20px);
  width: 100%;
  max-width: var(--wrapperWidth);
  margin: 0 auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  padding: 8vh 1em;
}

@media (--medium) {

  .page {
    padding: 1em;
  }

}

@media (--small) {

  .page a {
    transition: all .1s linear;
    text-decoration: underline;
  }

  .page a:hover,
  .page a:focus {
    color: var(--colorTertiary);
    text-decoration: none;
  }

}

@media (--large) {

  .page a {
    transition: all .2s linear;
    border-bottom: 3px solid var(--colorWhite);
  }

  .page a:hover,
  .page a:focus {
    color: var(--colorTertiary);
    border-color: var(--colorTertiary);
  }

}

.page-inner {
  width: 100%;
  max-width: var(--wrapperWidth);
  margin: 0 auto;
  padding: 0 10px;
}

.page-document {
  background-color: var(--colorPrimary);
}

.page-body {
  background-color: var(--colorPrimary);
  background: -moz-linear-gradient(-45deg, var(--colorPrimary) 0%, var(--colorSecondary) 100%);
  background: -webkit-linear-gradient(-45deg, var(--colorPrimary) 0%, var(--colorSecondary) 100%);
  background: linear-gradient(135deg, var(--colorPrimary) 0%, var(--colorSecondary) 100%);
}

@media (--large) {

  .markdown {
    max-width: 80%;
  }

}

.error-page {
  background: url(../../assets/img/space.gif) no-repeat center center fixed;
  background-size: cover;
}

.error-page .page-document, 
.error-page .page-document .page-body {
  background-color: transparent;
  background: none;
}
