@import './variables.css';

@font-face {
    font-family: 'Inconsolata';
    src: url('../../assets/fonts/inconsolata-webfont.woff2') format('woff2'),
         url('../../assets/fonts/inconsolata-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hind';
    src: url('../../assets/fonts/hind-medium-webfont.woff2') format('woff2'),
         url('../../assets/fonts/hind-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--colorSecondary);
  font-family: var(--body);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--colorPrimary);
}

@media (--small) {

  body {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }

}

@media (--large) {

  body {
    font-size: 22px;
  }

}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

audio {
	display: none;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

::selection {
  color: var(--colorQuaternary);
  background-color: var(--colorSecondary);
  opacity: 1;
}

.page {
  width: 100%;
  max-width: var(--wrapperWidth);
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding: 4vh 1em;
  flex: 1;
}

@media (--medium) {

  .page {
    padding: 1em;
  }

}

.page a {
  text-decoration: none;
  transition: background .2s linear;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, .4) 30%, transparent 31%, transparent 100%);
}

.page a:hover,
.page a:focus {
  color: inherit;
  background: rgba(0, 0, 0, 0.2);
}

.page-inner {
  width: 100%;
  max-width: var(--wrapperWidth);
  margin: 0 auto;
  padding: 0 10px;
}

.page-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@media (--large) {

  .markdown {
    max-width: 80%;
  }

}

.error-page {
  background: url(../../assets/img/space.gif) no-repeat center center fixed;
  background-size: cover;
  color: var(--colorSecondary);
}

.error-page .page-document,
.error-page .page-document .page-body {
  background-color: transparent;
  background: none;
}

.error-page header,
.error-page footer {
  display: none;
}
