@import './variables.css';

@font-face {
    font-family: 'Inconsolata';
    src: url('../../assets/fonts/inconsolata-webfont.woff2') format('woff2'),
         url('../../assets/fonts/inconsolata-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--colorSecondary);
  font-family: var(--heading);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: responsive 16px 21px;
  line-height: 1.5;
  background-color: var(--colorPrimary);
}

img {
  max-width: 100%;
  display: block;
}

.align-central {
  text-align: center;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

audio {
	display: none;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

::selection {
  background: var(--colorQuaternary);
  opacity: 1;
}

.page {
  width: 100%;
  max-width: var(--wrapperWidth);
  margin: 0 auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  padding: 4vh 1em;
}

@media (--medium) {

  .page {
    padding: 1em;
  }

}

.page a {
  text-decoration: none;
  transition: background .2s linear;
  background: linear-gradient(to top, rgba(190, 64, 75, 0.8) 0%, rgba(190, 64, 75, .8) 30%, transparent 31%, transparent 100%);
}

.page a:hover,
.page a:focus {
  color: inherit;
  background: rgba(190, 64, 75, 0.8);
}

.page-inner {
  width: 100%;
  max-width: var(--wrapperWidth);
  margin: 0 auto;
  padding: 0 10px;
}

@media (--large) {

  .markdown {
    max-width: 80%;
  }

}

.error-page {
  background: url(../../assets/img/space.gif) no-repeat center center fixed;
  background-size: cover;
  color: var(--colorWhite);
}

.error-page .page-document,
.error-page .page-document .page-body {
  background-color: transparent;
  background: none;
}

.error-page header,
.error-page footer {
  display: none;
}

.pinline {
  text-align: center;
  font-size: responsive 30px 88px;
  font-weight: 600;
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.pinline span {
  display: block;
  line-height: 1;
}

.pinline__svg {
  display: inline-block;
  vertical-align: bottom;
}

.pinline__svg--bottom {
  vertical-align: top;
}

.logo-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1% 0;
}

.logo-list__item {
  list-style-type: none;
  padding: 1%;
}

.page-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page {
  flex: 1;
}

.wave {
  animation: moveTheWave 2400ms linear infinite;
  stroke-dasharray: 0 16 101 16;
}

@keyframes moveTheWave {

  0% {
    stroke-dashoffset: 0;
    transform: translate3d(0, 0, 0);
  }

  100% {
    stroke-dashoffset: -133;
    transform: translate3d(-90px, 0, 0);
  }

}
