@import './variables.css';

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .8em 0 .2em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  margin: .8em 0 1.2em 0;
}

@media (--small) {

  h1 {
    font-size: calc(28px + 6 * ((100vw - 320px) / 680));
  }

}

@media (--large) {

  h1 {
    font-size: 68px;
  }

}

.pinline {
  font-family: var(--heading);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
}

.pinline span {
  display: block;
  line-height: 1;
}

.pinline__svg {
  display: inline-block;
  vertical-align: bottom;
}

.pinline__svg--bottom {
  vertical-align: top;
}

.wave {
  animation: moveTheWave 2400ms linear infinite;
  stroke-dasharray: 0 16 101 16;
}

@keyframes moveTheWave {

  0% {
    stroke-dashoffset: 0;
    transform: translate3d(0, 0, 0);
  }

  100% {
    stroke-dashoffset: -133;
    transform: translate3d(-90px, 0, 0);
  }

}

h2 {
  font-weight: 600;
}

@media (--small) {

  h2 {
    font-size: calc(24px + 6 * ((100vw - 320px) / 680));
  }

}

@media (--large) {

  h2 {
    font-size: 34px;
  }

}

@media (--small) {

  h3 {
    font-size: calc(21px + 6 * ((100vw - 320px) / 680));
  }

}

@media (--large) {

  h3 {
    font-size: 21px;
  }

}

p {
  margin: 0 0 1em 0;
}

pre {
  margin: .4em 0;
}

ol,
ul {
  margin: 0 0 1em 0;
  padding: 0 0 0 1.5em;
}

ul li {
  list-style-type: disc;
}

dl {
  margin: 1.5em 0;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin: 0 0 .75em 0;
}

blockquote {
  margin: 0 0 1em 0;
  padding: 1em;
  border-left: .5em solid var(--colorQuaternary);
}

blockquote p {
  margin: 0;
}

hr {
  width: 100%;
  height: 2px;
  margin-bottom: .4em;
  display: block;
  clear: both;
  border: 0;
  background: var(--colorQuaternary);
}

figure {
  clear: both;
  margin: 0 0 1em 0;
}

figure img {
	margin-bottom: 1.5em;
}

figure figcaption {
  margin: 0;
}

@media (--large) {

  figure figcaption {
    font-size: 16px;
  }

}

@media (--small) {

  figure figcaption {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }

}
