:root {

  --wrapperWidth: 1200px;
  --headerHeight: 48px;
  --gutter: 20px;
  --columnCount: 12;

  --colorBlack: #000;
  --colorWhite: #FFF;
  --colorPrimary: #E84D5B;
  --colorSecondary: #080808;
  --colorTertiary: #FDFDFD;
  --colorQuaternary: #BE404B;

  --heading: 'Inconsolata', Arial, sans-serif;

}

@custom-media --small (max-width: 767px);
@custom-media --medium (max-width: 1023px);
@custom-media --large (min-width: 768px);
