:root {

  --wrapperWidth: 1200px;
  --headerHeight: 48px;
  --gutter: 20px;
  --columnCount: 12;

  --colorBlack: #000;
  --colorWhite: #fff;
  --colorPrimary: #8C1BAB;
  --colorSecondary: #F761A1;
  --colorTertiary: #37DCA2;
  --colorQuaternary: #FFCC4E;

  --heading: 'Oswald', Arial, sans-serif;

}

@custom-media --small (max-width: 767px);
@custom-media --medium (max-width: 1023px);
@custom-media --large (min-width: 768px);
