:root {

  --wrapperWidth: 1200px;
  --headerHeight: 48px;
  --gutter: 20px;
  --columnCount: 12;

  --colorBlack: #000;
  --colorWhite: #fff;
  --colorPrimary: #5b1ba9;
  --colorSecondary: #8ef8f6;
  --colorTertiary: #8AEEEC;
  --colorQuaternary: #471485;

  --heading: 'Oswald', Arial, sans-serif;

}

@custom-media --small (max-width: 767px);
@custom-media --medium (max-width: 1023px);
@custom-media --large (min-width: 768px);
