@import '../../assets/css/variables.css';

.heading {

  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  @media (--small) {
    padding-top: 100px;
    padding-bottom: 100px;
    background-attachment: inherit;
  }

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(142,248,246,0.4);
  }

  &__title {
    position: relative;
    margin: 0;
    font-size: responsive 24px 70px;
    letter-spacing: 10px;
    line-height: 1.2;
    text-align: center;
    color: var(--colorPrimary);
    text-transform: uppercase;
    z-index: 10;
  }

  &__sub {
    position: relative;
    margin: 0;
    font-size: responsive 18px 40px;
    letter-spacing: 4px;
    line-height: 1.2;
    text-align: center;
    color: var(--colorPrimary);
    z-index: 10;
  }

}

.perfecthome .heading {

  background-image: url(pages/work/perfecthome/img/ph-screen.jpg);

  @media (--small) {
    background-position: center center;
  }

}

.inpart .heading {

  background-image: url(pages/work/inpart/img/ip-screen.jpg);

    @media (--small) {
      background-position: center center;
    }

}

.content {

  @media (--large) {
    margin-right: 30%;
  }

}

.post {
  margin: 2em;
  text-align: center;
}

.full__img {
  float: none;
  width: auto;
  margin: 0;
}

.half {

  @media (--large) {
    lost-column: 1/2;
  }

}

.aside {

  font-size: responsive 16px 18px;
  margin-bottom: 1.5em;
  background: var(--colorSecondary);
  color: var(--colorPrimary);

  @media (--large) {
    float: right;
	  width: 27%;
  }

  @media (--small) {
    width: 100%;
  }

  &__heading {
    font-size: responsive 18px 24px;
    background: color(var(--colorSecondary) shade(6%));
  }

  &__title {
    margin: 0;
    padding: .5em;
  }

  &__list {
    margin: 0 .5em 0 1.5em;
    padding: 1em 0 1em .5em;
  }

}
