@import '../../assets/css/variables.css';

.footer {
  width: 100%;
  font-size: .8rem;
  color: var(--colorPrimary);
  background-color: var(--colorWhite);
}

.inner {
  display: flex;
  justify-content: space-between;
}

@media (--small) {

  .inner {
    display: block;
    text-align: center;
  }

}

.footer img {
  display: inline-block;
  vertical-align: middle;
}

.footer a {
  border-bottom: 1px solid var(--colorPrimary);
  transition: all .2s linear;
}

.footer a:hover,
.footer a:focus {
  color: var(--colorSecondary);
  border-color: var(--colorSecondary);
}
