@import '../../assets/css/variables.css';

.footer {
  width: 100%;
  padding: 1em 0 0 0;
  font-size: responsive 14px 16px;
  color: var(--colorSecondary);
  text-align: center;
}

.footer img {
  display: inline-block;
  vertical-align: middle;
}

.footer a {
  text-decoration: none;
  transition: background .2s linear;
  background: linear-gradient(to top, rgba(190, 64, 75, 0.8) 0%, rgba(190, 64, 75, .8) 30%, transparent 31%, transparent 100%);
}

.footer a:hover,
.footer a:focus {
  background: rgba(190, 64, 75, 0.8);
}
