@import '../assets/css/variables.css';

.intro {
  margin: 0 0 4em 0;
  padding: 0 1em;
  text-align: center;
}

@media (--small) {

  .intro {
    margin: 0 0 1em 0;
    padding: 0;
  }

}

.intro__title {
  margin: 0;
  font-size: responsive 30px 98px;
  letter-spacing: 8px;
  line-height: 1.1;
  font-weight: 400;
  text-transform: uppercase;
}

.intro__title:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 20%;
  padding-top: .5em;
  border-top: 6px solid var(--colorWhite);
}

.intro__heading {
  margin: 0;
  line-height: 1.1;
}

.intro__sub {
  display: block;
  margin: 0;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: responsive 24px 64px;
  font-weight: 600;
  letter-spacing: 10px;
  text-transform: uppercase;
}

@media (--small) {

  .intro__sub {
    margin: 1em 0 .2em 0;
    letter-spacing: 6px;
  }

}

.intro__desc {
  display: block;
  margin: 0;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: responsive 18px 27px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.post {
  margin: 2em;
  text-align: center;
}

.post__title {
  font-weight: 400;
  font-size: responsive 18px 38px;
}

.post a {
  transition: all .1s linear;
  color: var(--colorWhite);
}

.post__title a:hover,
.post__title a:focus {
  color: var(--colorTertiary);
}
