@import '../assets/css/variables.css';

.post {
  margin: 2em 0;
  text-align: center;
}

.post__title {
  font-weight: 400;
}

.intro {
  padding: 0 5%;
  text-align: center;
}

@media (--small) {

  .logos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 4% 0;
  }

  .logos__item {
    list-style-type: none;
    padding: 1%;
  }

}

@media (--large) {

  .logos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 4% 0;
  }

  .logos__item {
    list-style-type: none;
    padding: 2%;
  }

}
