@import '../../assets/css/variables.css';

.item a {
  margin: 0 .2em;
  padding: .1em 0;
  text-decoration: none;
  transition: background .2s linear;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, .4) 30%, transparent 31%, transparent 100%);
}

.item a:hover,
.item a:focus {
  color: inherit;
  background: rgba(0, 0, 0, 0.2);
}

a.active {
  padding: .1em .2em;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, .2) 100%, transparent 21%, transparent 10%);
}
