@import '../../assets/css/variables.css';

.item a {
  margin: 0 .2em;
  padding: .1em 0;
  text-decoration: none;
  transition: background .2s linear;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, .4) 30%, transparent 31%, transparent 100%);
}

.item a:hover,
.item a:focus {
  color: var(--colorTertiary);
  background: rgba(0, 0, 0, 0.8);
}

a.active {
  padding: .1em .2em;
  color: var(--colorTertiary);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, .4) 100%, transparent 21%, transparent 10%);
}
